In [1]:
import pandas as pd
import numpy as np

In [2]:
# Tamaño muestral
N = 1000

In [3]:
preg1 = np.random.randint(1,3, (N,2))
preg1 = np.where(preg1==1, 'Sí', 'No')
preg1 = pd.DataFrame(preg1, columns=['1 Bienes', '1 Servicios'])
preg1.head()

  1 Bienes 1 Servicios
0       No          No
1       Sí          No
2       No          Sí
3       No          No
4       No          Sí

In [4]:
preg2 = np.random.randint(1,3, (N,7))
preg2 = np.where(preg2==1, 'Sí', 'No')
preg2 = pd.DataFrame(preg2, columns=['2 Producción', '2 Logística', '2 TIC', '2 Administración', '2 Organización', '2 RRHH', '2 Marketing'])
preg2.head()

,2 Producción,2 Logística,2 TIC,2 Administración,2 Organización,2 RRHH,2 Marketing
0,No,No,Sí,No,No,No,No
1,No,No,Sí,Sí,Sí,Sí,No
2,Sí,No,Sí,Sí,No,No,No
3,No,No,No,Sí,Sí,No,Sí
4,Sí,No,Sí,Sí,Sí,Sí,No

In [5]:
preg3 = np.random.randint(1,3, (N,9))
preg3 = np.where(preg3==1, 'Sí', 'No')
preg3 = pd.DataFrame(preg3, columns=['3 I+D interna', '3 I+D externa', '3 Activos', '3 Conocimiento externo', '3 Capacitación', '3 Marketing', '3 Diseño', '3 Puesta a punto', '3 Otras'])
preg3.head()

,3 I+D interna,3 I+D externa,3 Activos,3 Conocimiento externo,3 Capacitación,3 Marketing,3 Diseño,3 Puesta a punto,3 Otras
0,Sí,Sí,Sí,No,Sí,Sí,No,Sí,Sí
1,No,Sí,No,No,Sí,Sí,Sí,Sí,Sí
2,Sí,No,Sí,Sí,Sí,Sí,No,Sí,Sí
3,Sí,Sí,No,No,No,Sí,Sí,Sí,Sí
4,No,No,No,Sí,Sí,No,No,Sí,Sí

In [6]:
codigo = {
    1: "Alta",
    2: "Media",
    3: "Baja",
    4: "Nula"}

preg4 = np.random.randint(1,5, (N,11))
preg4 = pd.DataFrame(preg4, columns=['4 Tecnología', '4 Preferencias de consumidores', '4 Modelo de negocio', '4 Mercado', '4 Expansión', '4 Costos', '4 Competencia', '4 Estrategia', '4 Cultura', '4 Regulación', '4 Incentivos del gobierno'])
preg4 = preg4.replace(codigo)
preg4.head()

,4 Tecnología,4 Preferencias de consumidores,4 Modelo de negocio,4 Mercado,4 Expansión,4 Costos,4 Competencia,4 Estrategia,4 Cultura,4 Regulación,4 Incentivos del gobierno
0,Media,Baja,Media,Media,Baja,Media,Media,Baja,Media,Nula,Baja
1,Media,Alta,Alta,Nula,Media,Media,Baja,Nula,Nula,Media,Alta
2,Nula,Baja,Media,Media,Nula,Media,Media,Alta,Media,Alta,Nula
3,Alta,Nula,Nula,Baja,Nula,Baja,Alta,Media,Alta,Baja,Alta
4,Nula,Nula,Baja,Nula,Nula,Alta,Media,Media,Baja,Nula,Media

In [7]:
codigo = {
    1: "Aumento de la productividad",
    2: "Mejores productos y servicios",
    3: "Mayor satisfacción de los clientes",
    4: "Optimización de procesos",
    5: "Aumento de las ventas",
    6: "Reducción de los riesgos",
    7: "Menores costos laborales",
    8: "Menores costos de producción",
    9: "Ser pionero en el mercado",
    10: "Ninguna de las anteriores"}

largo = np.random.randint(1, 10, N) #se omite respuesta 10
opciones = np.arange(1,10)
respuestas = [np.sort(np.random.choice(opciones, e, replace=False)).tolist() for e in largo]

preg5 = [[] for e in range(N)]
for i in range(N):
    for e in respuestas[i]:
        preg5[i].append(codigo[e])

preg5 = np.array(preg5, dtype=object)
preg5 = preg5.reshape(-1,1)
preg5 = pd.DataFrame(preg5, columns=['5 Impactos'])
preg5.head()

                                          5 Impactos
0  [Aumento de la productividad, Mejores producto...
1  [Aumento de la productividad, Mejores producto...
2  [Aumento de la productividad, Mejores producto...
3  [Aumento de la productividad, Mejores producto...
4  [Aumento de la productividad, Aumento de las v...

In [8]:
codigo = {
    1: "Alta",
    2: "Media",
    3: "Baja",
    4: "Nula"}

preg6 = np.random.randint(1,5, (N,15))
preg6 = pd.DataFrame(preg6, columns=['6 Financiamiento externo', '6 Financiamiento interno', '6 Financiamiento público', '6 Costo muy alto', '6 Habilidades y conocimiento', '6 Cultura', '6 Tiempo', '6 Aversión al riesgo', '6 Prioridades', '6 Demanda incierta', '6 Demanda nula', '6 Competencia', '6 Partners', '6 Proveedores', '6 Regulación'])
preg6 = preg6.replace(codigo)

preg6.head()

,6 Financiamiento externo,6 Financiamiento interno,6 Financiamiento público,6 Costo muy alto,6 Habilidades y conocimiento,6 Cultura,6 Tiempo,6 Aversión al riesgo,6 Prioridades,6 Demanda incierta,6 Demanda nula,6 Competencia,6 Partners,6 Proveedores,6 Regulación
0,Media,Alta,Baja,Alta,Nula,Media,Alta,Baja,Media,Nula,Nula,Baja,Baja,Baja,Baja
1,Media,Alta,Nula,Media,Media,Media,Nula,Nula,Alta,Alta,Nula,Nula,Baja,Alta,Alta
2,Alta,Alta,Baja,Nula,Media,Alta,Alta,Media,Media,Baja,Nula,Media,Nula,Baja,Baja
3,Media,Alta,Nula,Media,Baja,Media,Alta,Baja,Alta,Alta,Media,Nula,Nula,Alta,Nula
4,Nula,Media,Nula,Alta,Alta,Media,Nula,Nula,Alta,Media,Baja,Alta,Nula,Alta,Baja

In [9]:
codigo = {
    1: "Menos de $20M",
    2: "Entre $20M y $60M",
    3: "Entre $60,1M y $230M",
    4: "Más de $230M",
    5: "Nada"}

preg7 = np.random.randint(1,6, (N,7))
preg7 = pd.DataFrame(preg7, columns=['7 Activos', '7 Conocimiento externo', '7 Capacitación', '7 Marketing', '7 Diseño', '7 Puesta a punto', '7 Total'])
preg7 = preg7.replace(codigo)

preg7.head()

,7 Activos,7 Conocimiento externo,7 Capacitación,7 Marketing,7 Diseño,7 Puesta a punto,7 Total
0,Entre $20M y $60M,Más de $230M,Menos de $20M,Nada,Nada,Más de $230M,Más de $230M
1,Entre $20M y $60M,Nada,"Entre $60,1M y $230M",Menos de $20M,Entre $20M y $60M,Nada,Entre $20M y $60M
2,Menos de $20M,"Entre $60,1M y $230M",Entre $20M y $60M,Más de $230M,Menos de $20M,Entre $20M y $60M,Más de $230M
3,Entre $20M y $60M,Más de $230M,Nada,Nada,Menos de $20M,Entre $20M y $60M,"Entre $60,1M y $230M"
4,Menos de $20M,"Entre $60,1M y $230M",Más de $230M,Menos de $20M,Más de $230M,"Entre $60,1M y $230M",Menos de $20M

In [10]:
codigo = {
    1: "Aumentará",
    2: "Se mantendrá igual",
    3: "Disminuirá",
    4: "No gastará",
    5: "No sabe"}

preg8 = np.random.randint(1,6, (N,1))
preg8 = pd.DataFrame(preg8, columns=['8 Cambio gasto total'])
preg8 = preg8.replace(codigo)

preg8.head()

  8 Cambio gasto total
0            Aumentará
1           Disminuirá
2           Disminuirá
3   Se mantendrá igual
4           No gastará

In [11]:
preg8a = np.random.randint(1,230, (N,1))
preg8a = np.where(preg8.isin(['Aumentará', 'Disminuirá']), preg8a, np.NaN)
preg8a = pd.DataFrame(preg8a, columns=['8a Cuánto'])

preg8a.head()

   8a Cuánto
0      212.0
1       56.0
2      193.0
3        NaN
4        NaN

In [12]:
preg9 = np.random.randint(1,3, (N,1))
preg9 = np.where(preg9==1, 'Sí', 'No')
preg9 = pd.DataFrame(preg9, columns=['9 Innovación institucionalizada'])
preg9.head()

  9 Innovación institucionalizada
0                              No
1                              Sí
2                              Sí
3                              No
4                              Sí

In [13]:
codigo = {
    1: "Innovación de productos",
    2: "Innovación de procesos"}

largo = np.random.randint(0,3, N)
opciones = np.arange(1,3)
respuestas = [np.sort(np.random.choice(opciones, e, replace=False)).tolist() for e in largo]

resp = [[] for e in range(N)]
for i in range(N):
    for e in respuestas[i]:
        resp[i].append(codigo[e])

preg10 = np.ones((N,4), dtype=object)*np.NaN
for i in range(N):
    k = np.random.randint(0,4)
    preg10[i,k] = resp[i]

preg10 = pd.DataFrame(preg10, columns=['10 Entre 1 y 6 meses', '10 Entre 7 y 12 meses', '10 Entre 1 y 2 años', '10 Más de 2 años'])
preg10.head()

,10 Entre 1 y 6 meses,10 Entre 7 y 12 meses,10 Entre 1 y 2 años,10 Más de 2 años
0,NaN,[Innovación de procesos],NaN,NaN
1,NaN,NaN,[],NaN
2,NaN,NaN,[Innovación de procesos],NaN
3,NaN,"[Innovación de productos, Innovación de procesos]",NaN,NaN
4,[Innovación de productos],NaN,NaN,NaN

In [14]:
codigo = {
    1: "Innovación en procesos",
    2: "Design factory",
    3: "Torneo",
    4: "Desarrollo experimental",
    5: "Innovación, escalamiento y transferencia",
    6: "Matching fund",
    7: "Proyecto a medida"}

largo = np.random.randint(0, 8, N) 
opciones = np.arange(1,8)
respuestas = [np.sort(np.random.choice(opciones, e, replace=False)).tolist() for e in largo]

preg11 = [[] for e in range(N)]
for i in range(N):
    for e in respuestas[i]:
        preg11[i].append(codigo[e])

preg11 = np.array(preg11, dtype=object)
preg11 = preg11.reshape(-1,1)
preg11 = pd.DataFrame(preg11, columns=['11 Colaboración'])
preg11.head()

                                     11 Colaboración
0  [Innovación en procesos, Innovación, escalamie...
1  [Innovación en procesos, Design factory, Torne...
2            [Design factory, Torneo, Matching fund]
3                          [Desarrollo experimental]
4                                                 []

In [15]:
codigo = {
    1: "Menos de $20M",
    2: "Entre $20M y $60M",
    3: "Entre $60,1M y $230M",
    4: "Más de $230M",
    5: "Nada"}

preg12 = np.random.randint(1,6, (N,7))
preg12 = pd.DataFrame(preg12, columns=['12 Innovación en procesos', '12 Design factory', '12 Torneo', '12 Desarrollo experimental', '12 Innovación, escalamiento y transferencia', '12 Matching fund', '12 Proyecto a medida'])
preg12 = preg12.replace(codigo)
preg12.head()

,12 Innovación en procesos,12 Design factory,12 Torneo,12 Desarrollo experimental,"12 Innovación, escalamiento y transferencia",12 Matching fund,12 Proyecto a medida
0,Más de $230M,Nada,Más de $230M,Entre $20M y $60M,Más de $230M,Menos de $20M,"Entre $60,1M y $230M"
1,Más de $230M,Entre $20M y $60M,Menos de $20M,"Entre $60,1M y $230M",Entre $20M y $60M,Nada,"Entre $60,1M y $230M"
2,Más de $230M,"Entre $60,1M y $230M",Entre $20M y $60M,Menos de $20M,Nada,Entre $20M y $60M,"Entre $60,1M y $230M"
3,Menos de $20M,Entre $20M y $60M,Menos de $20M,Más de $230M,"Entre $60,1M y $230M",Menos de $20M,Entre $20M y $60M
4,Nada,"Entre $60,1M y $230M",Menos de $20M,Entre $20M y $60M,Más de $230M,Más de $230M,Menos de $20M

In [16]:
codigo = {
    1: "Entre 1 y 3 meses",
    2: "Entre 4 y 6 meses",
    3: "Entre 7 y 12 meses",
    4: "Entre 1 y 2 años",
    5: "No aplica"}

preg13 = np.random.randint(1,6, (N,1))
preg13 = pd.DataFrame(preg13, columns=['13 Tiempo cooperación'])
preg13 = preg13.replace(codigo)
preg13.head()

  13 Tiempo cooperación
0     Entre 4 y 6 meses
1             No aplica
2     Entre 4 y 6 meses
3     Entre 1 y 3 meses
4      Entre 1 y 2 años

In [17]:
codigo = {
    1: "Ingeniería y Recursos Naturales",
    2: "Construcción",
    3: "Informática y Telecomunicaciones",
    4: "Diseño",
    5: "Comunicación",
    6: "Salud",
    7: "Administración y Negocios",
    8: "Turismo y Hotelería",
    9: "Gastronomía"
    }

largo = np.random.randint(0, 10, N) 
opciones = np.arange(1,10)
respuestas = [np.sort(np.random.choice(opciones, e, replace=False)).tolist() for e in largo]

preg14 = [[] for e in range(N)]
for i in range(N):
    for e in respuestas[i]:
        preg14[i].append(codigo[e])

preg14 = np.array(preg14, dtype=object)
preg14 = pd.DataFrame(preg14, columns=['14 Escuelas'])
preg14.head()

                                         14 Escuelas
0  [Ingeniería y Recursos Naturales, Construcción...
1                               [Salud, Gastronomía]
2  [Informática y Telecomunicaciones, Diseño, Com...
3                                      [Gastronomía]
4  [Construcción, Diseño, Comunicación, Salud, Ad...

In [18]:
data = pd.concat([preg1, preg2, preg3, preg4, preg5, preg6, preg7, preg8, preg8a, preg9, preg10, preg11, preg12, preg13, preg14], axis=1)
data = data.sample(300).reset_index(drop=True)

In [20]:
data.to_csv('data.csv', index=False, encoding='latin1')